
.content-card {
    height: 555px;
    width: 500px;
    position: relative;
}

.content-card-image {
    height: 860px;
    width: 860px;
}

.content-card-info {
    position:absolute;
    top: 10px;
    left: 10px;
    word-wrap: break-word;
    max-width: 400px;
    color: #ff0000;
    text-align: center;
    tab-size: 8px;
    text-shadow: 0 0 3px #7B7D7D;
}
.card:hover .card-image {
    opacity: 0.3;
    background-size: 100% 110%;
}

.card:hover .card-info {
    display: block;
}

.card:hover .card-title {
    color: aliceblue;
}

.card:hover .card-date {
    display: block;
    height: 300px;
}

.card:hover .card-button {
    background: #024c86;
}

.card:hover, .card-button:hover {
    cursor: pointer;
}
s


@font-face {
    font-family: 'Aventura';
    src: url(../fonts/Aventura.otf);
}

html, body {
    margin: 0;
    padding: 0;
}

.navbar {
    width: 100vw;
    min-height: 90px;
}

.nav {
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
    width: 90vw;
    border-bottom: 1px solid #F70D1A;
    height: 100px;
    
}

.nav > li {
    display: inline-block;
    margin-left: 20px;
    font-size: 30px;
    line-height: 2.5;
}

.nav > li:last-child {
    margin-right: 30px;
}

.nav a {
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    color:#0C090A;
    border-bottom: 2px solid;
    border-bottom-color: rgba(0, 0, 0, 0);
    transition: 300ms ease-in-out;
    display: inline-block;
    
}

.nav a:hover {
    border-bottom-color: #B40404;
    color: #B40404;
}

.nav-brand {
    width: 200;
    height: 200;
  position: absolute;
    left: 80px;
    
}

.nav .active-item {
    border-bottom-color: #B40404;
    color: #B40404;
}

.nav-brand, .nav .active-item{
    cursor: default;
}

.main-title {
    width: 100vw;
    text-align: center;
    color: #808080;
    font-family: 'Arial';
    margin: 75px 0;
    letter-spacing: 5px;
}
footer {
    margin-left: 20px;
    padding-left: 20px;
}


#footer-social {
    display: inline-block;
}
#sp-footer1.span6 {
    justify-content: flex-end;
    font-family: Arial;
    color: #bbbbbbbb;
    text-align: right;
    
}
#footer-social {
    width: 35px;
    height: 35px;
    text-align: center;
    cursor: pointer;
}
p{
    text-align: left;color: #687175;
    
}
.flexslider .slides img {
    width: 100%;
    display: block;
}
img {
    height: auto;
    max-width: 100%;
}
img {
    vertical-align: middle;
}
img {
    border: 0;
}
img {
    border: 0;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
img[Attributes Style] {
    -webkit-user-drag: none;
}
user agent stylesheet
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.slides, .flex-control-nav, .flex-direction-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}
user agent stylesheet
ul, menu, dir {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
body.pff-7, .pff-7 input, .pff-7 select, .pff-7 textarea, .pff-7 blockquote, .pff-7 .ui-widget {
    font-family: 'Lato', Helvetica Neue, Arial, Sans-serif;
}
body {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.45;
    color: #1e1e1e;
}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
border-bottom-color:rgb(30, 30, 30);
border-bottom-style:none;
border-bottom-width:0px;
border-image-outset:0px;
border-image-repeatstretch;
border-image-slice:100%;
border-image-source:none;
border-image-width:1;
border-left-color:rgb(30, 30, 30);
border-left-style:none;
border-left-width:0px;
border-right-color:rgb(30, 30, 30);
border-right-style:none;
border-right-width:0px;
border-top-color:rgb(30, 30, 30);
border-top-style:none;
border-top-width:0px;
box-sizing:border-box;
color:rgb(30, 30, 30);
display:block;
font-family:Lato, "Helvetica Neue", Arial, sans-serif;
font-size:15px;
font-weight:400;
height:400px;
line-height:21.75px;
list-style-image:none;

.h1 {
    letter-spacing: 5px;
    color: #db0000;
}